# version: "3.9"
# # Upgrade add env values in an env file

# services:
#   postgres:
#     image: postgres:latest
#     container_name: postgres
#     restart: always
#     environment:
#       POSTGRES_USER: admin
#       POSTGRES_PASSWORD: admin123
#       POSTGRES_DB: pizzeria_del_waisso,
#     ports:
#       - "5432:5432"
#     volumes:
#       - pg_data:/var/lib/postgresql/data

#   pgadmin:
#     image: dpage/pgadmin4:latest
#     container_name: pgadmin
#     restart: always
#     environment:
#       PGADMIN_DEFAULT_EMAIL: admin@admin.com
#       PGADMIN_DEFAULT_PASSWORD: admin123
#     ports:
#       - "8080:80"
#     depends_on:
#       - postgres

# volumes:
#   pg_data:



version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: pizzeria_del_waisso,
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql  # mount full /var/lib/postgresql for PG18+

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  pgdata:
